$font-stack: 'Open Sans',
Helvetica,
sans-serif;
$admin-header-height: 4em;
$admin-footer-height: 4em;
$admin-nav-width: 15em;
$spacing: 2em;
$spacing-xs: 1em;
$spacing-xxs: .5em;
$spacing-xxxs: .3em;
$spacing-xxxxs: .1em;
$dashboard-column-count: 2;
// Colors
$primary: #4050f5;
$primary-light: #e2e4f8;
$gray: #9c9eb2;
$gray-lighter: #9c9eb266;
$gray-lightest: #f1f1f8;
$text: #1d256f;
// Styles
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: $font-stack;
    color: $text;
}

input {
    font-family: $font-stack;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: $gray;
}

.admin {
    display: grid;
    height: 100vh;
    grid-template-rows: $admin-header-height 1fr $admin-footer-height;
    grid-template-columns: $admin-nav-width 1fr;
    grid-template-areas: "header header" "nav main" "footer footer";
    flex-wrap: wrap;
}

.admin__header {
    grid-area: header;
    background-color: #ccc;
    box-shadow: 0 2px 8px -2px $gray-lighter;
    z-index: 1;
}

.admin__aside {
    grid-area: nav;
    background-color: #ddd;
    border-right: 1px solid $gray-lighter;
}

.admin__main {
    grid-area: main;
    padding: $spacing;
    background-color: #eee;
}

.admin__footer {
    grid-area: footer;
    background-color: #fff;
    box-shadow: 0 -2px 8px -2px $gray-lighter;
}