*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: var(--text); }

input {
  font-family: "Open Sans", Helvetica, sans-serif; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

textarea:focus,
input:focus {
  outline: none; }

a {
  text-decoration: none;
  color: #9c9eb2; }

.admin {
  display: grid;
  height: 100vh;
  grid-template-rows: 4em 1fr 4em;
  grid-template-columns: 15em 1fr;
  grid-template-areas: "header header" "nav main" "footer footer";
  flex-wrap: wrap; }

.admin__header {
  grid-area: header;
  background-color: #ccc;
  box-shadow: 0 2px 8px -2px #9c9eb266;
  z-index: 1; }

.admin__aside {
  grid-area: nav;
  background-color: #ddd;
  border-right: 1px solid #9c9eb266; }

.admin__main {
  grid-area: main;
  padding: 2em;
  background-color: #eee; }

.admin__footer {
  grid-area: footer;
  background-color: #fff;
  box-shadow: 0 -2px 8px -2px #9c9eb266; }
